@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
/* Global */
* {
	margin: 5;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

body {
	font-size: 15px;
	background-color: rgb(233, 234, 241);
	font-family: lato, sans-serif;
	font-weight: bold;
	text-align: center;
}
.menu-bar {
	background: #443c3d;
	text-align: right;
}

.menu-bar ul {
	display: inline-flex;
	list-style: none;
	font-size: 25px;
	color: #fff;
}

.menu-bar ul li {
	width: 100%;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

.menu-bar ul li:hover {
	background: #2bab0d;
	border-radius: 10px;
}
#introduction-image {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
	margin-top: -40px;
}
.introduction {
	height: 85%;
	width: 90%;
	position: relative;
}
.introduction img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
/* footer */
.social-media {
	text-align: center;
}

.social-media >li {
	display: inline;
}

.social-media i {
	font-size: 170%;
	margin: 25px;
	padding: 25px;
	color: #3a3a3a;
}

.social-media a {
	text-decoration: none;
}

.author {
	text-align: center;
	margin-bottom: 35px;
	font-size: small;
}